/* ===========================
   ====== Editor styles ======
   =========================== */
.editor {
  padding: 2em;
  position: relative;
}

.editor--tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor input,
.editor textarea {
  display: block;
  width: 100%;
  background: none;
  border: none;
  color: white;
}

.editor input {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}

.editor textarea {
  resize: none;
  font-size: 1.25rem;
  font-weight: 400;
  padding-right: 1em;
  flex: 1 1 100px;
}

.editor input:focus,
.editor textarea:focus {
  outline: none;
}

.button--container {
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.button--container button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 300ms ease;
}

.button--container button:hover {
  background-color: hsl(240, 3%, 85%, 0.1);
}

.button--container svg {
  height: 90%;
  fill: #d9d9db;
}

/* Styles for button when a note is marked as favorite */
.favoriteSvg svg {
  fill: hsl(355, 75%, 60%);
}

button.favoriteSvg:hover {
  background-color: hsla(355, 75%, 60%, 0.1);
}
