footer {
  padding: 3rem 1rem !important;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 1rem;
}

footer svg {
  height: 1.75rem;
  display: block;
}

footer svg path {
  fill: var(--grey-text-color);
}
