header {
  z-index: 2;
  width: 100%;
  height: var(--header-height);
  transition: transform 300ms ease;
  font-size: 1.2rem;
}

header .logo {
  color: #222;
  font-weight: 600;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header div {
  display: flex;
  gap: 1.5rem;
}

header a {
  color: #222;
  font-weight: 500;
  text-decoration: none;
}

header .link-active {
  color: var(--primary-color);
}
