@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebf4f3;
}

main {
  position: relative;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 2em 3em;
}

.svg--container {
  background: linear-gradient(270deg, #ffa873, #ff8789);
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.svg--container svg {
  height: 60%;
  fill: white;
  opacity: 0.8;
}

article label {
  margin-right: 1em;
}

.input--container {
  max-width: 380px;
  background-color: #ebf4f3;
  margin: 1em 0;
  /* height: 55px; */
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.25em;
  position: relative;
}

.input--container svg {
  height: 1.1rem;
  cursor: pointer;
  margin-left: 1em;
  fill: #acacac;
}

.input--container input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input--container input::placeholder {
  color: #aaa;
  font-weight: 500;
}

button {
  margin-top: 1.5em;
  cursor: pointer;
  background: linear-gradient(270deg, #ffa873, #ff8789);
  border-radius: 10px;
  display: block;
  width: 100%;
  border: none;
  color: white;
  padding: 0.5em 1em;
  font-size: clamp(1rem, 0.4375rem + 2.5vw, 1.75rem);
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: clamp(1rem, 0.4375rem + 2.5vw, 1.75rem);
  color: #444;
}

.length--label {
  justify-content: space-between;
  margin-bottom: 1em;
}

.length--label input {
  font-size: inherit;
  color: #444;
  margin-left: 1em;
  text-align: right;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 0.5em;
}

.length--label input:focus {
  outline: none;
}

.checkbox input {
  display: none;
}

.checkbox span {
  width: 1em;
  height: 1em;
  padding: 0.1em;
  margin-right: 0.5em;
  background-color: #2196f3;
  display: inline-flex;
  justify-content: center;
  opacity: 0.5;
  align-items: center;
}

.checkbox path {
  fill: white;
}

.checkbox svg {
  height: 100%;
  width: 100%;
}

.checkbox input:checked + span {
  opacity: 1;
}
