@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("components/typography.css");
@import url("components/header.css");
@import url("components/footer.css");

/* =========================
   ======= Variables =======
   ========================= */

:root {
  --primary-color: hsl(0, 100%, 66%);
  --orange-color: hsl(39, 96%, 68%);
  --primary-color-2: hsla(0, 100%, 66%, 0.12);
  --text-color: hsl(0, 0%, 18%);
  --body-background: hsl(0, 0%, 100%);
  --grey-text-color: hsla(0, 0%, 0%, 0.6);
  --header-height: 5rem;
}

/* =============================
   ======= Global styles =======
   ============================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:focus {
  outline: none;
}

::selection {
  color: white;
  background-color: var(--primary-color);
}

nav,
section,
footer {
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

main {
  padding-top: var(--header-height);
}

/* ============================
   ======= Hero styling =======
   ============================ */

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: var(--header-height);
  min-height: 100vh;
}

.hero div {
  flex: 1 1 600px;
}

.hero img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.hero h4 {
  color: var(--primary-color);
  background-color: var(--primary-color-2);
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.75em;
  border-radius: 50px;
}

.hero h1 {
  color: var(--text-color);
  max-width: 19ch;
  font-weight: 600;
  line-height: 1.1;
  font-family: serif;
  font-size: clamp(2.1rem, 1.2rem + 3.5vw, 3.8rem);
  animation-delay: 200ms;
}

.hero span {
  color: var(--primary-color);
}

.hero p {
  max-width: 55ch;
  margin: 1em 0 2em 0;
  animation-delay: 400ms;
}

.hero .cta {
  display: inline-block;
  animation-delay: 600ms;
}

.hero a {
  display: inline-block;
  font-size: 18px;
  color: var(--primary-color);
  text-decoration: none;
  animation-delay: 600ms;
  margin-right: 1rem;
}

.projects--section {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fade-in {
  animation: fade-in 600ms ease forwards;
  transform: translateY(50px);
  opacity: 0;
}

@keyframes fade-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ===============================
   ======= Project section =======
   =============================== */

.projects--section article {
  flex: 1 1 400px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.projects--section .filler {
  box-shadow: none;
}

.projects--section .image--container {
  background-color: #f5f5f5;
  overflow: hidden;
  height: 10rem;
  display: block;
}

.projects--section img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 300ms ease;
}

.projects--section .image--container:hover img {
  transform: scale(1.2) rotate(3deg);
}

.projects--section .information {
  padding: 1rem;
}

.projects--section p {
  margin: 1rem 0;
}

.projects--section .link {
  color: inherit;
  text-align: right;
  display: block;
}
